<!DOCTYPE html>
<html>
  <head>
    <title>User Information</title>
  </head>
  <body>
    <h1>User Information</h1>
    <div id="user-info">
      <h2>User</h2>
      <p>id: <%= user.id %> </p>
      <p>Email: <%= user.email %> </p>
      <p>Name: <%= user.name %> </p>
      <p>Hashed Password: <%= user.password %> </p>
      <p>First Name: <%= user.firstname %> </p>
      <p>Created At: <%= user.created_at %> </p>
    </div>
  </body>
</html>